<h1>Coaching#ask</h1>
<p>What's your question son?</p>

<form action="/answear">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
